<div class="container">
    
    <div class="row">
        <div class="col-9">
            <p class="text-danger text-center">Punto 10: Titulo cambiante</p>
            <h1 [class]="propiedadTitulo">Listado Mascotas</h1>
            <br>
        </div>
        <div class="col-3">
            <p>Seleccione el color del titulo</p>
            <select class="form-select" [(ngModel)]="colorSeleccionado" (change)="funcionEnviarColor()" >
                <option selected *ngFor="let item of opcionColor"> {{item}}</option>                
              </select>
        </div>
    </div>


</div>
