<p>punto03 works!</p>


<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="https://storage.gra.cloud.ovh.net/v1/AUTH_296c7803aa594af69d39b970927c8fb9/media/uploads/CosplayEXP/2018/04/03/link_9g4ByiE.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Datos de la mascota</h5>

                    <p class="card-text">nombre: {{nombre}}</p>
                    <p class="card-text">raza: {{raza}}</p>
                    <p class="card-text">sexo: {{sexo}}</p>
                    <p class="card-text"> año: {{anio}} </p>
                    <p class="card-text">fecha nacimiento: {{nacimiento}}</p>

                    <a href="#" class="btn btn-primary">Ir a... </a>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <img src="https://img.freepik.com/foto-gratis/adorable-perro-basenji-marron-blanco-sonriendo-dando-maximo-cinco-aislado-blanco_346278-1657.jpg?w=740&t=st=1692483971~exp=1692484571~hmac=3479273110872e9beb017a0651d8428c558675d34a5eaea631fe80887aad4ff4" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Otros perro</h5>
                    <p class="card-text">falta cargar datos.</p>
                    <a href="#" class="btn btn-primary">Ir a otro lado</a>
                </div>
            </div>
        </div>
    </div>

</div>