<div class="container">
    <p class="text-danger">Punto 5 recibir ruta y mostrar imagen</p>

    <p class="text-secondary">puede usar esta ruta: https://storage.gra.cloud.ovh.net/v1/AUTH_296c7803aa594af69d39b970927c8fb9/media/uploads/CosplayEXP/2018/04/03/link_9g4ByiE.jpg</p>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Ingresar Ruta</span>
        <input type="text" [(ngModel)]="textoCapturado">
    </div>

     <button type="button" class="btn btn-primary" (click)="cargarRuta()">Cargar y mostrar</button>

     <div>
        <img [src]="rutaParaMostrar" alt="">
    </div>

</div>